
{#{ drupal_dump(publications) }#}

<div class="sgp-service sgp-service--announcements">
    <div class="content-wrapper-small">
    {% if publications is not empty %}
    <div class="sgp-service__wrapper">
        {% for value in publications %}
    
          <div class="sgp-tile">
                    <div class="sgp-tile__img-sec">
                         <img src="{{ value.thumbnail }}" alt="Annual Report">
                    </div>
                    <div class="sgp-tile__cnt-sec">
                        {% if value.title %}
                        <h4 class="sgp-h4">{{ value.title }}</h4>
                    {% endif %}
                    {% if value.summary %}
                        <p class="sgp-tile__desc-grey">{{ value.summary|length > 60 ? value.summary|slice(0, 60) : value.summary  }}</p>
                    {% endif %}

                       {% if(value.annual) %}
                        <a href="{{value.annual}}" target="_blank" title="Download Full Annual Report" class="sgp-btn mb-2" >
                            <span class="sgp-btn__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <g data-name="Group 5261" transform="translate(-851 -2096)">
                                      <rect data-name="Rectangle 1199" width="30" height="30" transform="translate(851 2096)" fill="none"></rect>
                                      <path data-name="Path 1033" d="M6.562-4.375a1.266,1.266,0,0,1,.93.383,1.266,1.266,0,0,1,.383.93v3.5a1.266,1.266,0,0,1-.383.93,1.266,1.266,0,0,1-.93.383H-6.563a1.266,1.266,0,0,1-.93-.383,1.266,1.266,0,0,1-.383-.93v-3.5a1.266,1.266,0,0,1,.383-.93,1.266,1.266,0,0,1,.93-.383h2.516L-5.3-5.633a1.291,1.291,0,0,1-.369-.943,1.325,1.325,0,0,1,.383-.916,1.221,1.221,0,0,1,.916-.383h1.75v-3.062a1.266,1.266,0,0,1,.383-.93,1.266,1.266,0,0,1,.93-.383H1.312a1.266,1.266,0,0,1,.93.383,1.266,1.266,0,0,1,.383.93v3.063h1.75a1.254,1.254,0,0,1,.943.383,1.325,1.325,0,0,1,.383.916,1.248,1.248,0,0,1-.4.943L4.047-4.375ZM-4.375-6.562,0-2.187,4.375-6.562H1.312v-4.375H-1.313v4.375Zm10.938,7v-3.5H2.734l-1.8,1.8A1.266,1.266,0,0,1,0-.875a1.266,1.266,0,0,1-.93-.383l-1.8-1.8H-6.563v3.5ZM4.156-1.312a.633.633,0,0,0,.191.465.633.633,0,0,0,.465.191.633.633,0,0,0,.465-.191.633.633,0,0,0,.191-.465.633.633,0,0,0-.191-.465.633.633,0,0,0-.465-.191.633.633,0,0,0-.465.191A.633.633,0,0,0,4.156-1.312Z" transform="translate(865.875 2116.25)"></path>
                                    </g>
                                  </svg>
                            </span>Download Full Annual Report
                        </a>

                    {% endif %}
                    {% if(value.sustainability) %}
                        <a href="{{value.sustainability}}" target="_blank" title="Download Full Sustainability Report" class="sgp-btn mb-2" >
                            <span class="sgp-btn__icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30">
                                    <g data-name="Group 5261" transform="translate(-851 -2096)">
                                      <rect data-name="Rectangle 1199" width="30" height="30" transform="translate(851 2096)" fill="none"></rect>
                                      <path data-name="Path 1033" d="M6.562-4.375a1.266,1.266,0,0,1,.93.383,1.266,1.266,0,0,1,.383.93v3.5a1.266,1.266,0,0,1-.383.93,1.266,1.266,0,0,1-.93.383H-6.563a1.266,1.266,0,0,1-.93-.383,1.266,1.266,0,0,1-.383-.93v-3.5a1.266,1.266,0,0,1,.383-.93,1.266,1.266,0,0,1,.93-.383h2.516L-5.3-5.633a1.291,1.291,0,0,1-.369-.943,1.325,1.325,0,0,1,.383-.916,1.221,1.221,0,0,1,.916-.383h1.75v-3.062a1.266,1.266,0,0,1,.383-.93,1.266,1.266,0,0,1,.93-.383H1.312a1.266,1.266,0,0,1,.93.383,1.266,1.266,0,0,1,.383.93v3.063h1.75a1.254,1.254,0,0,1,.943.383,1.325,1.325,0,0,1,.383.916,1.248,1.248,0,0,1-.4.943L4.047-4.375ZM-4.375-6.562,0-2.187,4.375-6.562H1.312v-4.375H-1.313v4.375Zm10.938,7v-3.5H2.734l-1.8,1.8A1.266,1.266,0,0,1,0-.875a1.266,1.266,0,0,1-.93-.383l-1.8-1.8H-6.563v3.5ZM4.156-1.312a.633.633,0,0,0,.191.465.633.633,0,0,0,.465.191.633.633,0,0,0,.465-.191.633.633,0,0,0,.191-.465.633.633,0,0,0-.191-.465.633.633,0,0,0-.465-.191.633.633,0,0,0-.465.191A.633.633,0,0,0,4.156-1.312Z" transform="translate(865.875 2116.25)"></path>
                                    </g>
                                  </svg>
                            </span>Download Full Sustainability Report
                        </a>
                    {% endif %}
                    <a href="/about-us/investor-relations/annual-reports/{{value.slug}}" title="Read More" class="sgp-btn">
                            <span class="sgp-btn__icon">
                                <svg viewBox="0 0 76 76" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M36.9608 53.3546L52.6381 37.6773L36.9608 22L34.901 24.1743L48.2896 37.6773L34.901 51.1803L36.9608 53.3546Z" /><path d="M50.4639 36.0752H23V39.2793H50.4639V36.0752Z"/></svg>
                            </span>Read More
                        </a>
                        
                    </div>
                </div>

{% endfor %}
</div>
{% endif %}
</div>
</div>
