
 {{ form.message }}
  <form{{ attributes }}>
            <div class="sgp-checkout__wrapper">
                <div class="sgp-checkout__wrapper-inner">
                    <div class="sgp-checkout__sec sgp-checkout__sec--small sgp-checkout__sec--width">

                        

                        <div class="sgp-text-box__text">Salutation</div>
                        <div class="sgp-checkout__radio">

                            <div class="sgp-checkout__label">
                                <div class="sgp-radio">
                                    <input checked="" type="radio" name="r" value="2" id="radio-mr" />
                                    <svg viewBox="0 0 24 24" filter="url(#goo-light)">
                                        <circle class="top" cx="12" cy="-12" r="8" />
                                        <circle class="dot" cx="12" cy="12" r="5" />
                                        <circle class="drop" cx="12" cy="12" r="2" />
                                    </svg>
                                    <span class="sgp-radio__custom"></span> 
                                </div>
                                    <label for="radio-mr">Mr.</label>
                                </div>    
                                <div class="sgp-checkout__label">
                                <div class="sgp-radio">
                                    <input type="radio" name="r" value="2"  id="radio-ms" />
                                    <svg viewBox="0 0 24 24" filter="url(#goo-light)">
                                        <circle class="top" cx="12" cy="-12" r="8" />
                                        <circle class="dot" cx="12" cy="12" r="5" />
                                        <circle class="drop" cx="12" cy="12" r="2" />
                                    </svg>
                                    <span class="sgp-radio__custom"></span> 
                                </div>
                                    <label for="radio-ms">Ms</label>
                                </div> 
                                <div class="sgp-checkout__label">
                                <div class="sgp-radio">
                                    <input type="radio" name="r" value="2" id="radio-mdm" />
                                    <svg viewBox="0 0 24 24" filter="url(#goo-light)">
                                        <circle class="top" cx="12" cy="-12" r="8" />
                                        <circle class="dot" cx="12" cy="12" r="5" />
                                        <circle class="drop" cx="12" cy="12" r="2" />
                                    </svg>
                                    <span class="sgp-radio__custom"></span> 
                                </div>
                                <label for="radio-mdm">Mdm</label>
                                </div>
                            
                        </div>
                    </div>
                 <div class="sgp-checkout__sec">
                        {{ form.message }}
                        {{ form.form_token }}
                        {{ form.form_build_id }}
                        {{ form.form_id }}
                        <div class="sgp-text-box__text">Full Name<span>*</span></div>
                       <!--  <input type="text" placeholder="" class="sgp-text-box__input"> -->
                        {{ form.name }}
                    </div>    
                    <div class="sgp-checkout__sec ">
                        <div class="sgp-text-box__text">Company Name</div>
                        <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                         {{ form.company }}
                    </div>
                </div>    
                <div class="sgp-checkout__wrapper-inner sgp-checkout__wrapper-inner--right">
                    <div class="sgp-checkout__sec">
                         <div class="sgp-text-box__text">Email<span>*</span></div>
                       <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                        {{ form.email }}
                    </div> 
                    <div class="sgp-checkout__sec">
                          <div class="sgp-text-box__text">Contact Number<span>*</span></div>
                      <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                        {{ form.contact_number }}
                    </div>    
                    <div class="sgp-checkout__sec sgp-checkout__sec--width">
                          <div class="sgp-text-box__text">SingPost Corporate Account Number<span>*</span></div>
                      <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                        {{ form.account_number }}
                    </div>
                </div>   
                <div class="sgp-checkout__wrapper-inner sgp-checkout__wrapper-inner--right">
                    <div class="sgp-checkout__sec sgp-checkout__sec--small">
                           <div class="sgp-text-box__text">Block / House number<span>*</span></div>
                      <!--<input type="text" placeholder="" class="sgp-text-box__input"> -->
                       {{ form.block_number }}
                    </div> 
                    <div class="sgp-checkout__sec">
                         <div class="sgp-text-box__text">Street Address<span>*</span></div>
                       <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                       {{ form.street_address }}
                    </div>    
                    <div class="sgp-checkout__sec sgp-checkout__sec--mob sgp-checkout__sec--small">
                         <div class="sgp-text-box__text">Unit Number<span>*</span></div>
                       <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                        {{ form.unit_number }}
                    </div>
                    <div class="sgp-checkout__sec sgp-checkout__sec--mob sgp-checkout__sec--small">
                        <div class="sgp-text-box__text">Postal Code<span>*</span></div>
                        <!-- <input type="text" placeholder="" class="sgp-text-box__input"> -->
                       {{ form.postal_code }}
                    </div>

                    {{ form.product_dt }}

                </div>   
                {{ form.description }}
                <!-- <ul class="sgp-checkout__notes">
                    <li>You will receive a confirmation email after submitting an online order.</li>
                    <li>No online payment is required when submitting your orders.</li>
                </ul>  -->  
                 {{ form.tnc }}

                 {{ form.recaptcha }}

                 {{ form.simple_recaptcha }}
 
                
                <div class="sgp-checkout__buttons">
                    <a onclick="window.history.back()" title="Back Button" class="sgp-btn">
                        <span class="sgp-btn__icon">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
                                <path
                                    d="M6.289.711a.4.4,0,0,1-.246.082A.3.3,0,0,1,5.824.711L.109-5.031A.26.26,0,0,1,0-5.25a.26.26,0,0,1,.109-.219l5.715-5.742a.3.3,0,0,1,.219-.082.4.4,0,0,1,.246.082l.547.547a.3.3,0,0,1,.082.219.4.4,0,0,1-.082.246L2.6-5.961h9.324a.316.316,0,0,1,.232.1.316.316,0,0,1,.1.232v.766a.316.316,0,0,1-.1.232.316.316,0,0,1-.232.1H2.6L6.836-.3a.4.4,0,0,1,.082.246.3.3,0,0,1-.082.219Z"
                                    transform="translate(9.5 20)" />
                            </svg>
                        </span>Back
                    </a>
               

                    <button data-drupal-selector="edit-submit" data-msg-required="This field is required." type="submit" id="edit-submit" name="op" value="Submit" this="" one="" class="sgp-link-btn sgp-link-btn--box js-form-submit form-submit simple-recaptcha-submit">SUBMIT NOW<svg xmlns="http://www.w3.org/2000/svg" width="12.25" height="7" viewBox="0 0 12.25 7"><path d="M8.5-8.641a.327.327,0,0,1,.232-.109.327.327,0,0,1,.232.109l3.172,3.172a.26.26,0,0,1,.109.219.26.26,0,0,1-.109.219L8.969-1.859a.327.327,0,0,1-.232.109A.327.327,0,0,1,8.5-1.859l-.191-.191A.26.26,0,0,1,8.2-2.27a.34.34,0,0,1,.109-.246l2.3-2.27H.328a.316.316,0,0,1-.232-.1A.316.316,0,0,1,0-5.113v-.273a.316.316,0,0,1,.1-.232.316.316,0,0,1,.232-.1H10.609l-2.3-2.27A.34.34,0,0,1,8.2-8.23a.26.26,0,0,1,.109-.219Z" transform="translate(0 8.75)"/></svg></button>
                </div>
            </div>
 </form>