{% spaceless %}
{% set url = url('<current>') %}
     
  <!-- Minicart start -->
    <div class="sgp-minicart">
        <div class="sgp-minicart__inner content-wrapper">
            <div class="sgp-minicart__strip">
                <img src="{{ url('<front>') }}{{ base_path ~ directory }}/assets/images/cart-icon-white.svg" alt="" class="sgp-minicart__cart-icon">
                <span class="sgp-minicart__label badge-notify">1 item</span>
                <img src="{{ url('<front>') }}{{ base_path ~ directory }}/assets/images/arrow-down-white.svg" alt="" class="sgp-minicart__arrow-icon">
            </div>
            <div class="sgp-minicart__cart cartBlocks">
                <div class="sgp-minicart__head">
                    <h4 class="sgp-h4">My Cart</h4>
                    <button class="sgp-minicart__close"><svg xmlns="http://www.w3.org/2000/svg" width="9.461" height="9.461" viewBox="0 0 9.461 9.461">
                        <path id="Path_1027" data-name="Path 1027" d="M6.344-5.25,9.9-1.7a.4.4,0,0,1,.082.246A.3.3,0,0,1,9.9-1.23L9.27-.6a.3.3,0,0,1-.219.082A.4.4,0,0,1,8.8-.6L5.25-4.156,1.7-.6a.4.4,0,0,1-.246.082A.3.3,0,0,1,1.23-.6L.6-1.23A.3.3,0,0,1,.52-1.449.4.4,0,0,1,.6-1.7L4.156-5.25.6-8.8A.4.4,0,0,1,.52-9.051.3.3,0,0,1,.6-9.27L1.23-9.9a.3.3,0,0,1,.219-.082A.4.4,0,0,1,1.7-9.9L5.25-6.344,8.8-9.9a.4.4,0,0,1,.246-.082A.3.3,0,0,1,9.27-9.9L9.9-9.27a.3.3,0,0,1,.082.219A.4.4,0,0,1,9.9-8.8Z" transform="translate(-0.52 9.98)" />
                    </svg></button>
                </div>

                <div class="sgp-minicart__item-wrapper" id="cartItemInBox">
                    <!-- Empty cart start -->
                    <div class="sgp-minicart__item sgp-minicart__empty">
                        <p class="sgp-minicart__empty-text">Cart Empty</p>
                    </div>
                    <!-- Empty cart end -->
 
 
                </div>

                <div class="sgp-minicart__amount-sec">
                    <p class="sgp-minicart__price-detail">Subtotal: <span class="subtotal">0</span></p>
                    <p class="sgp-minicart__price-detail">Discount: <span class="discount">0</span></p>
                    <p class="sgp-minicart__price-detail sgp-minicart__total" >Total Amount: <span class="totalAmt">0</span></p>
                </div>
                <div class="sgp-minicart__btn-sec">
                    <a href="#" title="View Cart" class="sgp-link-btn sgp-link-btn--border">View Cart</a>
                    <a href="#" title="Checkout" class="sgp-link-btn sgp-link-btn--box">Checkout</a>
                </div>
                <p class="sgp-minicart__note">You need a min. spend of <strong>S$150</strong> to make an online order. For orders below <strong>S$150</strong>, visit any Post Office islandwide!</p>
            </div>
        </div>
    </div>
    <!-- Minicart end -->
{% if 'cart-checkout' in url|render|render  %}
    <div class="sgp-breadcrumbs">
      <div class="content-wrapper">
        <a href="{{ url('<front>') }}packing-materials/cart-summary" class="sgp-link-btn sgp-breadcrumbs__link"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.25 7">
                    <g id="Layer_2" data-name="Layer 2">
                        <g id="Layer_1-2" data-name="Layer 1">
                            <path
                                d="M3.75,6.89A.32.32,0,0,1,3.51,7a.3.3,0,0,1-.23-.11L.11,3.72a.28.28,0,0,1,0-.44L3.28.11A.3.3,0,0,1,3.51,0a.34.34,0,0,1,.24.11L3.94.3a.27.27,0,0,1,.11.22.47.47,0,0,1-.11.25L1.64,3H11.92a.3.3,0,0,1,.23.1.32.32,0,0,1,.1.22v.28a.34.34,0,0,1-.1.23.35.35,0,0,1-.24.1H1.64l2.3,2.27a.41.41,0,0,1,.11.24.27.27,0,0,1-.11.22Z" />
                        </g>
                    </g>
                </svg>Back
            </a>
    </div>
    </div>
{% elseif 'cart-summary' in url|render|render or 'product' in url|render|render %}

{% elseif 'packing-materials' in url|render|render or 'cart-thanks' in url|render|render %}
 <!-- Breadcrumbs strat -->

    <div class="sgp-breadcrumbs">
        <div class="content-wrapper">
            <a href="{{ url('<front>') }}" title="Home" class="sgp-breadcrumbs__link">
                <span class="sgp-breadcrumbs__link-txt">Home</span>
                <img src="../{{ base_path ~ directory }}/assets/images/home-icon.svg" alt="Home icon" class="sgp-breadcrumbs__link-icon">
            </a>
            <a href="#" title="Shop - Packing Materials" class="sgp-breadcrumbs__link">Shop</a>
            <a href="{{ url('<front>') }}packing-materials" title="packing-materials" class="sgp-breadcrumbs__link">Packing Materials</a>
             {% if data.product.products[0].title is not empty %}
            <a href="#" title="{{ data.product.products[0].title|lower }}" class="sgp-breadcrumbs__link">{{ data.product.products[0].title }}</a>
         {% endif %}
     
        </div>
    </div>
    <!-- Breadcrumbs strat -->
 {% endif %}
    <div class="pm-nav-wrapper" style="display: none;">
        <div class="pm-nav">
            <div class="container">
                <div class="d-flex">
                    <div class="pm-above-desc">
                        {{ config.pm_nav_above.value|raw }}
                    </div>
                    {% if menus is not empty %}
 <!--                        <div class="pm-nav-menu">
                            <ul>
                                {% for menu in menus %}
                                    <li>
                                        <a class="pm-menu-item" href="#{{ menu|lower|replace({' ':'-'}) }}">{{ menu }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div> -->
                    {% endif %}
                    <div class="pm-nav-your-order">
                        <div class="pm-your-order-wrapper">
                            <button class="pm-your-order">
                                <i class="sp-icon sp-cart d-flex" aria-hidden="true"></i>Your Order
                            </button>
                            <span class="badge-notify">0</span>
                        </div>
                        <div class="pm-cart-detail toggle-display">
                            <div class="pm-tbl-cart-wrapper">
                                <table class="pm-tbl-cart">
                                    <thead>
                                    <tr>
                                        <th>Item Name</th>
                                        <th>Subtotal</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="pm-cart-break">
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="pm-cart-sub-total tbl-no-pt">
                                        <td>Total:</td>
                                        <td>S$0.00</td>
                                    </tr>
                                    <tr class="pm-cart-discount tbl-no-pt">
                                        <td>Discounts:</td>
                                        <td>S$0.00</td>
                                    </tr>
                                    <tr class="pm-cart-grand-total tbl-no-pt">
                                        <td>Grand Total:</td>
                                        <td>S$0.00</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="pm-cart-checkout text-center">
                                <button class="btn btn-checkout disabled" disabled="disabled" id="pm-cart-checkout" type="button">Checkout Order</button>
                            </div>
                            <div class="pm-cart-desc text-center">
                                <small>You need a min. spend of S$150 to make an online order. For orders below S$150, visit any
                                    <a href="/locate-us" target="_blank">Post Office</a> islandwide!
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
       <!--  <div class="pm-under-nav">
            <div class="container">
                <div class="under-nav-content">
                    {{ config.pm_nav_under.value|raw }}
                </div>
                <div class="pm-cbo-nav-wraper">
                    <div class="pm-cbo-nav">
                        <span class="pm-cbo-nav-text">Browse by Product Type</span>
                    </div>
                    {% if menus is not empty %}
                        <ul class="pm-cbo-nav-options">
                            {% for menu in menus %}
                                <li>
                                    <a class="pm-cbo-nav-option" href="#{{ menu|lower|replace({' ':'-'}) }}">{{ menu }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div> -->
    </div>
{% endspaceless %}